{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base"
    ],
    "rules": {
        "semi": "error", //точки с запятой в конце
        "no-plusplus": "warn",
        "eol-last": "error",
        "max-len": [
            "error",
            50,
            {
                "ignoreUrls": true
            }
        ],
        "no-tabs": "off",
        "indent": [
            "error",
            4
        ],
        "no-param-reassign": "warn" // переназначение параметров функций
    }
}