{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base"
    ],
    "rules": {
        //"semi": "off",
        "no-plusplus": "warn",
        "eol-last": "error",
        "max-len": [
            "error",
            50,
            {
                "ignoreUrls": true
            }
        ],
        "no-tabs": "off",
        "indent": [
            2,
            "tab"
        ],
        "no-param-reassign": "off" // переназначение параметров функций
    }
}